body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: Arial;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #282a6b;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e7b036;
}

button {
    padding: 8px 20px;
    background-color: #282a6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5cb4e1;
}
